.teams {
    display: flex;
    justify-content: space-between;
    height: 9.6rem;
    background-color: #fff;
    line-height: 8rem;
    .teams-logo {
        margin-left: 4rem;
        display: flex;
        .teams-svg {
            svg {
                transform: translateY(7px);
            }
        }
        .teams-text {
            margin-left: 0.8rem;
            font-size: 2.4rem;
            color: #1A1919;
            font-weight: bold;
        }   
    }

    .teams-create {
        height: 8rem;
        line-height: 8rem;
        margin-right: 4rem;
        .teams-create-button {
            background: #40D2BF;
            border-radius: 4px;
            outline: none;
            display: flex;
            padding: 0.6rem 1.4rem;
            display: inline-flex;
            
            .teams-create-button__icon {
                background: #40D2BF;
                background-blend-mode: multiply;
                mix-blend-mode: normal;
                border-radius: 4px 0px 0px 4px;
                margin-right: 1.2rem;
                transform: translateY(2px);
                svg { 
                    color: white;
                }
            }

            .teams-create-text {
                font-size: 1.2rem;
                color: #FFFFFF;
                padding-left: 1.2rem;
                font-weight: 600;
                transform: translateY(2px);
            }
        }
    }
}

.teams-navigation {
    display: flex;
    background-color: #fff;
    &__nav {
        font-size: 1.4rem;
        color: #000000;
        font-weight: bold;
        display: inline-flex;

        & > * {
            margin-left: 4rem;
            padding: 0 1.4rem 1rem 1.4rem;
            cursor: pointer;
        }

        &--all {
            color: #0083E3;
            border-bottom: 3px solid #0083E3;
        }
    }

    .search {
        margin-left: auto;
        margin-right: 4rem;
        color: #999999;
        span{
            margin-right: 1rem;
            svg {
                transform: translateY(3px);
            }
        }
        input {
            border: none;
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 0.4px;
            &:focus {
                outline: none;
            }
        }
    }
}