.layout {
    display: flex;

    .layout-rest {
        width: calc(100vw - 6rem);
    }
}

.flex {
    display: flex;
}

.layout-sidenav {
  position: fixed;
  z-index: 1;
}

.layout-rest {
    position: absolute;
    right: 0;
}